@use "./util" as *;

#contact {
  .container {
    width: var(--contact-width);
    @include padding-y(var(--section-padding-y));
  }
}

.contact {
  display: flex;

  &-detail {
    width: var(--profile-column-width);
    display: grid;
    gap: var(--profile-section-space);
    justify-content: center;
  }

  &-sns {
    width: var(--profile-column-width);
    display: grid;
    justify-content: center;
  }

  &-section {
    display: inline-block;
    text-align: left;
  }

  &-title {
    margin-bottom: var(--profile-content-space);
  }

  &-anchor {
    text-decoration: underline;
  }

  &-text {

  }

  &-sns-list {
    display: flex;
    flex-direction: row;
    gap: var(--profile-sns-icon-gap);
  }

  &-sns-item {
    display: contents;
  }

  &-sns-icon {
    font-size: var(--profile-sns-icon-size);
  }
}