@use "./util" as *;

#contact {
  .container {
    width: var(--contact-width);
    @include padding-y(var(--section-padding-y));
  }
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: {
    direction: row;
    wrap: wrap;
  };

  &-detail {
    width: var(--contact-column-width);
    display: grid;
    gap: var(--contact-section-space);
    justify-content: center;
  }

  &-sns {
    width: var(--contact-column-width);
    display: grid;
    justify-content: center;
  }

  &-section {
    display: inline-block;
    text-align: left;
  }

  &-title {
    margin-bottom: var(--contact-content-space);
  }

  &-anchor {
    text-decoration: underline;
  }

  &-text {

  }

  &-sns-list {
    display: flex;
    flex-direction: row;
    gap: var(--contact-sns-icon-gap);
  }

  &-sns-item {
    display: contents;
  }

  &-sns-icon {
    font-size: var(--contact-sns-icon-size);
  }
}

@include view-mobile {
  .contact {
    flex: {
      direction: column;
    };

    &-section {
      text-align: center;
    }

    &-sns {
      margin-top: var(--contact-section-space);
    }
  }
}