@use "./spec" as *;
@use "./util" as *;

@import "the-new-css-reset/css/reset.css";

:root {
  @include spec;
}

html {
  scroll-behavior: smooth;
  color-scheme: light;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  color: #000000;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 20px;
}

p {
  font-size: 16px;
  color: #000000;
}

.heading {
  font-family: var(--font-famiry);

  &::after {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    margin: 8px auto 0 auto;
    background-color: var(--primary-color);
  }
}

.paragraph {
  @include margin-y(var(--paragraph-margin-y));
}

.section-center {
  display: flex;
  justify-content: center;
  text-align: center;
}

.section-gray {
  background-color: var(--secondary-color);
}