header {
  width: var(--header-width);
  height: var(--header-height);
  display: flex;
  justify-content: center;
  background-color: var(--primary-color);

  nav {
    height: 100%;
  }

  .header-container {
    width: var(--header-inside-width);
    height: 100%;
    display: flex;
    justify-content: space-between;
  }

  .nav-list {
    height: 100%;
    display: flex;
    align-items: center;
    color: var(--font-color);
  }

  .nav-item {
    padding: 0 var(--navlink-side-space);
  }

  .nav-link {

  }
}

