#main-visual {
  .container {
    width: 100%;
    display: flex;
    justify-content: center;
    background: {
      image: var(--main-visual-image);
      size: cover;
      position: center;
    };
  }
}



.main-visual-content {
  width: var(--main-visual-width);
  height: var(--main-visual-height);
  padding-top: var(--main-visual-content-padding-top);
  display: flex;
  flex-direction: column;
  gap: var(--main-visual-content-gap);


  h1 {
    font: {
      size: var(--main-visual-title-size);
      family: var(--font-famiry);
    };
    color: var(--font-color);
  }

  p {
    font-size: var(--main-visual-text-size);
    color: var(--font-color);
  }
}