@use "./util" as *;

#portfolio {
  .container {
    width: var(--portfolio-width);
    @include padding-y(var(--section-padding-y));
  }
}

.portfolio-img-group {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  gap: var(--portfolio-images-gap);
}

.portfolio-img {
  width: var(--portfolio-image-width);
  height: var(--portfolio-image-height);
  object-fit: cover;
  object-position: center;
}