#portfolio {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: var(--secondary-color);

  .container {
    width: 920px;
  }

  .portfolio-img-group {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
  }

  .portfolio-img {
    width: 300px;
    height: 250px;
    object-fit: cover;
    object-position: center;
  }
}