@use "./util" as *;

#portfolio {
  .container {
    width: var(--portfolio-width);
    @include padding-y(var(--section-padding-y));
  }
}

.portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: {
    direction: row;
    wrap: wrap;
  };
  gap: var(--portfolio-images-gap);

  &-img {
    width: var(--portfolio-image-width);
    height: var(--portfolio-image-height);
    object: {
      fit: cover;
      position: center;
    }
  }
}

@include view-mobile {
  .portfolio {
    flex: {
      direction: column;
    };

    &-sp-none {
      display: none;
    }
  }
}
