@mixin margin-x($val) {
  margin: {
    left: $val;
    right: $val;
  };
}

@mixin margin-y($val) {
  margin: {
    top: $val;
    bottom: $val;
  }
}

@mixin padding-x($val) {
  padding: {
    left: $val;
    right: $val;
  }
}

@mixin padding-y($val) {
  padding: {
    top: $val;
    bottom: $val;
  }
}

@mixin view-mobile {
  @media screen and (max-width: 768px) {
    @content;
  }
}
