@use "./styles/header";
@use "./styles/footer";
@use "./styles/section";

@import "the-new-css-reset/css/reset.css";

:root {
  --primary-color: #EC715F;
  --secondary-color: #ECEFF1;
  --font-color: #FAFAFA;

  --font-famiry: 'Raleway', sans-serif;
}

main {

}
